.array-button{
    border-radius:50px;
    padding: 0.75rem 1.5rem; 
    border: 2px solid #AD89BD;
    background-color: transparent;
    text-align: center;
    font-weight: medium;
    margin-left: 1rem;
}
.array-button.selected{
    background-color: rgb(228, 142, 180);
    color: white;
    font-weight: bold;
}