.mepower-logo{
  align-items: center;
  width: 7%;
  height: auto;
  object-fit: contain;
  margin-left: -18%;
  transition: width 0.3s ease;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero-text_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 3rem;
}

.hero-text_subtitle {
  font-size: 1.2rem;
  color: #475569;
  line-height: 1.5;
}

.hero-image {
  width: 70%; 
}

.hero-image_img {
  width: 100%;
  max-height: 450px;   
   
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(16,24,40,0.1);
}


.news-intro {
  text-align: center;
  max-width: 800px;
  margin: 3rem auto 2rem auto;
  padding: 0 1rem;
}

.news-intro_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0f172a; 
  margin-bottom: 1rem;
}

.news-intro_subtitle {
  font-size: 1.1rem;
  color: #475569; 
  line-height: 1.6;
}